<div class="d-flex align-items-center" style="min-height: 6rem">
  <ng-container
    *ngTemplateOutlet="item; context: { $implicit: localPokemon }"
  ></ng-container>

  <span style="width: 3rem" class="mx-3 my-0 text-center align-self-center user-select-none h2">⮀</span>

  <ng-container
    *ngTemplateOutlet="item; context: { $implicit: remotePokemon }"
  ></ng-container>
</div>

<ng-template #item let-pkmn>
  <div class="d-flex flex-grow-1 flex-basis-0 flex-column align-items-center" style="min-width: 8rem">
    <img
      *ngIf="pkmn"
      style="width: 40px; height: 40px; object-fit: none"
      [src]="getIconUrl(pkmn.nationalDexId)"
      alt="Icon of Pokemon species"
    />
    <span *ngIf="pkmn" class="user-select-none">{{ pkmn.name }}</span>

    <div *ngIf="!pkmn" class="spinner-grow" role="status">
      <span class="visually-hidden">Waiting on selection...</span>
    </div>
  </div>
</ng-template>
