<!-- <div>
  <app-confirmation-indicator [confirmed]="true"></app-confirmation-indicator>
  <app-confirmation-indicator [confirmed]="false"></app-confirmation-indicator>
  <app-confirmation-indicator [confirmed]="true"></app-confirmation-indicator>
  <app-confirmation-indicator [confirmed]="false"></app-confirmation-indicator>
</div> -->

<!-- <app-pokemon-trade-preview
  [localPokemon]="data[2]"
  [remotePokemon]="data[4]"
></app-pokemon-trade-preview
><app-pokemon-trade-preview
  [localPokemon]="null"
  [remotePokemon]="data[4]"
></app-pokemon-trade-preview> -->
