<div *ngIf="!isConnected; else connected">
  <p>Share this link with the person you want to trade with:</p>
  <app-share-link [link]="connectUrl.toString()"></app-share-link>
</div>

<ng-template #connected>
  <p>Connected to: {{ otherPeerId }}</p>
  <div class="input-group mb-3">
    <input
      class="form-control"
      type="file"
      name="savefile"
      id="savefile-input"
      (change)="onSavefileChanged($event)"
    />
    <button
      class="btn btn-primary"
      *ngIf="hasLoadedSavefile"
      type="button"
      (click)="downloadCurrentFileBuffer()"
    >
      Download savefile
    </button>
  </div>
</ng-template>

<div class="row my-2" *ngIf="showTradePreview$ | async">
  <div class="col-12 col-md-9 col-lg-6 mx-auto">
    <div class="border rounded p-2 vstack">
      <app-pokemon-trade-preview
        [localPokemon]="localSelectedPokemon$ | async"
        [remotePokemon]="remoteSelectedPokemon$ | async"
      ></app-pokemon-trade-preview>

      <div
        style="min-width: 16rem"
        class="btn-group align-self-center d-flex mt-2"
      >
        <button
          type="button"
          [disabled]="!tradeService.canConfirm()"
          class="btn btn-danger flex-grow-1 flex-basis-0"
          (click)="tradeService.cancelReady()"
        >
          Reject
        </button>
        <button
          type="button"
          [disabled]="!tradeService.canConfirm()"
          class="btn btn-success flex-grow-1 flex-basis-0"
          (click)="tradeService.confirm()"
          ngbPopover="Be careful - once you have confirmed, you cannot back out unless the other person cancels the trade."
          triggers="mouseenter:mouseleave"
          container="body"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isConnected" class="row">
  <div class="col-6 vstack" [class.opacity-0]="!(isLocalLoaded$ | async)">
    <div
      class="d-flex p-2 flex-column justify-content-center align-items-center"
    >
      <app-confirmation-indicator
        [confirmed]="(isLocalConfirmed$ | async) || false"
      ></app-confirmation-indicator>

      <h3 class="text-center mt-2">
        {{ (tradeService.state | async)!.local.trainerName }}
      </h3>
    </div>

    <app-pokemon-party
      [pokemonParty]="(tradeService.state | async)!.local.pokemon"
      [selectedIndex]="(tradeService.state | async)!.local.toTradeIndex"
      (selectedIndexChange)="tradeService.setToTradeIndex($event)"
    ></app-pokemon-party>

    <div class="row row-cols-1 row-cols-lg-2 g-3 my-1">
      <div class="col">
        <button
          class="w-100 btn btn-primary"
          [disabled]="!tradeService.canReadyLocalSelection()"
          type="button"
          (click)="tradeService.readyLocalSelection()"
        >
          Select
        </button>
      </div>
      <div class="col">
        <button
          class="w-100 btn btn-danger"
          [disabled]="!tradeService.canCancelReady()"
          type="button"
          (click)="tradeService.cancelReady()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="col-6 vstack" [class.opacity-0]="!(isRemoteLoaded$ | async)">
    <div
      class="d-flex p-2 flex-column justify-content-center align-items-center"
    >
      <app-confirmation-indicator
        [confirmed]="(isRemoteConfirmed$ | async) || false"
      ></app-confirmation-indicator>

      <h3 class="text-center mt-2">
        {{ (tradeService.state | async)!.remote.trainerName }}
      </h3>
    </div>
    <app-pokemon-party
      [showOnly]="true"
      [pokemonParty]="(tradeService.state | async)!.remote.pokemon"
      [selectedIndex]="(tradeService.state | async)!.remote.toTradeIndex"
    ></app-pokemon-party>
  </div>
</div>

<!-- <p>Trade state:</p>
<pre>{{ tradeService.state | async | json }}</pre> -->
